<section class="genre-buttons">
    <div class="genre-button">
        <a href="/genre/1">Action</a>
    </div>
    <div class="genre-button">
        <a href="/genre/2">Comedy</a>
    </div>
    <div class="genre-button">
        <a href="/genre/3">Drama</a>
    </div>
    <div class="genre-button">
        <a href="/genre/4">Horror</a>
    </div>
    <div class="genre-button">
        <a href="/genre/5">Romance</a>
    </div>
    <div class="genre-button">
        <a href="/genre/6">Thriller</a>
    </div>
    <div class="genre-button">
        <a href="/genre/7">Sci-Fi</a>
    </div>
</section>

    <script src="/js/homepage.js"></script>

    